<div id="post_content">
  <h1 class="title"><%= @article.headline %></h1>

<h3>  <%= @article.lead %> </h3>

<p class="date">
  <strong style="font-size: 12px"> Submitted <%= time_ago_in_words(@article.created_at) %> ago </strong>
</p>

<p style="font-size: 14px">
  <%= @article.body %>
</p>

<p><%= button_to "Back", :back, :method => "get" %></p>
